<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SleepDoc.net</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div clsas="container">
            <!-- <a href="#" class="logo"><img class="logo" src="../static/images/LogoFinal.png"
                    alt=""><span>S</span>leep <span>M</span>edicine <span>C</span>onsultants</a> -->

            <img src="../static/images/LogoFinal.png" alt="" class="logo" />
            <a href="#" class="logo"><span>S</span>leep<span>M</span>edicine<span>C</span>onsultants</a>
            <nav class="nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#facility">Facility</a></li>
                    <li><a href="#contact">Schedule</a></li>
                    <li><a href="#location">Location</a></li>
                    <li><a href="#posts">learn more</a></li>
                    <li><a href="referrals">referrals</a></li>
                    <li><a href="https://sso.azaleahealth.com/" rel="noopener noreferrer" target="_blank">patient
                            portal</a></li>
                </ul>
            </nav>
            <div class="fas fa-bars"></div>
        </div>
    </header>
    <section class="home" id="home" style="margin-top: 6rem;">
        <div class="container">
            <div class="row min-vh-100 align-items-center text-center text-md-left">
                <div class="col-md-6 pr-md-5 content" data-aos="zoom-in">
                    <img src="../static/images/publicdomainq-doc2.svg" width="100%" alt="Panoramic Austin View">
                </div>
                <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
                    <h1><span>Sleep </span> better <span>Live </span>Better </h1>
                    <h3 class="success_message">Your Request for a call has been successfully submitted!
                        <br>While we verify your insurance information, check for an email from us (if not in your inbox please check
                    spam folder).  We have sent you HIPAA compliant links to fill out paperwork to help expedite the scheduling process.</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="row min-vh-100 align-items-center text-center">
                <div class="col-md-6 content" data-aos="fade-right">
                    <div class="box">
                        <h3><i class="fas fa-solid fa-house-chimney-medical"></i> Clinical Services </h3>
                        <p>We treat all variety of sleep disorders offering virtual visits with extended hours and on
                            weekends for your convenience.

                        </p>
                    </div>
                    <div class="box">
                        <h3><i class="fas fa-solid fa-bed"></i> Testing </h3>
                        <p>We offer both polysomnography (PSG) in lab sleep testing and home sleep apnea testing (HSAT).
                        </p>
                    </div>
                    <div class="box">
                        <h3><i class="fas fa-stethoscope"></i> Treatment Options</h3>
                        <p>We guide your personalized treatment plan offering access to
                            Cognitive Behavioral Therapy for Insomnia, CPAP (Continuous Positive Airway Treatment),
                            referrals for dental devices and efficacy retesting, positional and/or behavioral therapy,
                            surgery consultants
                            with follow-up care, and medication management (when needed). </p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
                    <img src="../static/images/1533845191.svg" alt="" width="100%">
                </div>
            </div>
        </div>
    </section>
    <section class="facility" id="facility">
        <div class="container">
            <h1 class="heading"> our facility </h1>
            <div class="box-container">
                <div class="box" title="Building" data-aos="zoom-in">
                    <a href="../static/images/IMG-20220919-WA0001.jpg">
                        <img src="../static/images/IMG-20220919-WA0001.jpg">
                    </a>
                </div>
                <div class="box" title="Building" data-aos="zoom-in">
                    <a href="../static/images/IMG-20220919-WA0002.jpg">
                        <img src="../static/images/IMG-20220919-WA0002.jpg">
                    </a>
                </div>
                <div class="box" title="Building" data-aos="zoom-in">
                    <a href="../static/images/IMG-20220919-WA0003.jpg">
                        <img src="../static/images/IMG-20220919-WA0003.jpg">
                    </a>
                </div>
                <div class="box" title="Building" data-aos="zoom-in">
                    <a href="../static/images/IMG-20220919-WA0004.jpg">
                        <img src="../static/images/IMG-20220919-WA0004.jpg">
                    </a>
                </div>
                <div class="box" title="Waiting Room" data-aos="zoom-in">
                    <a href="../static/images/IMG-20220919-WA0000.jpg">
                        <img src="../static/images/IMG-20220919-WA0000.jpg" alt="">
                    </a>
                </div>

                <div class="box" title="Sleep Study Room" data-aos="zoom-in">
                    <a href="../static/images/WhatsApp Image 2022-04-07 at 5.02.09 PM (3).jpeg">
                        <img src="../static/images/WhatsApp Image 2022-04-07 at 5.02.09 PM (3).jpeg" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="insurance" id="insurance">
        <div class="container">
            <h1 class="heading"> Accepted Insurances</h1>
            <div class="box-container">
                <div class="box" data-aos="fade-right">
                    <div><br><br>
                        <h2> We accept most major insurance plans.
                            <br> <br> Please contact our office if you do not see your insurance provider listed.</h2>
                    </div>
                </div>
            </div>
    </section>
    <section class="insurance">
        <div class="container">
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/aarp.jpeg" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/accountableHealth.jpeg" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/aetna.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/allSavers.jpeg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/amerigroup.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/averdeHealth.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/blueCrossBlueShield.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/beechStreet.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/cigna.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/communityCare.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/firstCare.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/galaxyHealthcare.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/geha.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/healthSmartAccel.jpeg" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/humana.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/integratedMedicalSystems.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/mediview.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/multiPlan.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/novitasSolutions.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/oscar.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/palmetto.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/phcs.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/setonHealth.jpeg" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/tricare.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/uhc.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/usaManagedCare.png" />
                    </div>
                </div>
                <div class="box-container column">
                    <div class="box" data-aos="fade-up">
                        <img src="../static/images/wellmed.png" />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="providers" id="providers">
        <div class="container">
            <h1 class="heading"> our providers </h1>
            <div class="container min-vh-100">
                <div class="box-container">
                    <div class="box" data-aos="fade-right" title="Dr. Desai">
                        <img src="../static/images/bhavim.png" alt="">
                        <div class="content">
                            <h3>Bhavim Desai, m.D.,<br>
                                <h4> board certified sleep physician</h4>
                            </h3>
                            <br>
                            <h4>Specialty:</h4>
                            <h5>family medicine, sleep medicine</h5>
                            <h4>Training:</h4>
                            <h5>sleep medicine fellowship with the
                                University of Arizona in Tucson</h5>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box" data-aos="fade-left" title="Monique Mulvany, N.P.">
                            <img src="../static/images/monique.jpg" alt="">
                            <div class="content">
                                <h3>Monique Mulvany, N.P.</h3><br><br><br>
                                <h4>Specialty:</h4>
                                <h5>family nurse practioner, sleep specialty- 2006</h5>
                                <h4>Training:</h4>
                                <h5> Spring Hill College in Mobile, Alabama</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="referrals">
        <div class="form-buttons container min-vh-100" style="color:#fff; padding-bottom:4rem">
           <p style="font-size: 2rem"> Your appointment request has been successfully submitted.  
            <br>You will hear from us soon!</p>
        </div>
    </section>
    <section class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.4903302873054!2d-97.76145808448305!3d30.33701181164619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cae6b54e7dbd%3A0xb3da5f3334a6a875!2sSleep%20Medicine%20Consultants!5e0!3m2!1sen!2sgr!4v1647780984219!5m2!1sen!2sgr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            data-aos="zoom-in"></iframe><br>
        <div class="box-container">
            <div class="box" data-aos="fade-left">
                <h3>Location</h3><br>
                <i class="fa-solid fa-location-arrow">
                    <span>5508 Parkcrest Dr.,<br> Suite #310 <br>Austin, TX 78731</span> <br>
                </i>
            </div>
            <div class="box" data-aos="fade-up">
                <h3>hours</h3>
                <i class="fa-solid fa-clock">
                    <span>Monday&nbsp;-&nbsp;Friday &nbsp;&nbsp;&nbsp;<br>09:00am&nbsp;-&nbsp;05:00pm</span>
                </i>
            </div>
            <div class="box" data-aos="fade-right">
                <h3>Phone</h3>
                <i class="fa-solid fa-phone">
                    <a href="tel:512-420-9900"><span>512-420-9900</span></a>
                </i>
            </div>
            <div class="box" data-aos="fade-down">
                <h3>Fax</h3>
                <i class="fa-solid fa-fax">
                    <span>512-420-9944</span>
                </i>
            </div>
        </div>
        </div>
    </section>
    <section class="post" id="posts" style="background-color: #354046">
        <div class="container min-vh-100" >
            <h1 class="heading" style="color:#fff"><span></span> we treat a variety of <br>sleep disorders <span></span></h1>
            <div class="box-container">
                <div class="box" data-aos="fade-right">
                    <img src="../static/images/osaPic.png" alt="">
                    <div class="content">
                        <h3>OSA-obstructive sleep apnea</h3>
                        <p>When breathing becomes shallow or pauses for 10 seconds or more due to the soft pallat
                            collapsing and obstructing the airway, often accompanied by snoring.</p>
                        <a href="https://www.aastweb.org/blog/what-is-sleep-apnea" target="_blank"><button
                                class="button">learn more</button></a>
                    </div>
                </div>
                <div class="box-container">
                    <div class="box" data-aos="fade-right">
                        <img src="../static/images/csaPic.png" alt="">
                        <div class="content">
                            <h3>CSA-central sleep apnea</h3>
                            <p>When breathing pauses for 10 seconds or more due to the brain telling the body not to
                                breath.</p>
                            <a href="https://www.aastweb.org/blog/what-is-sleep-apnea" target="_blank"><button
                                    class="button">learn more</button></a>
                        </div>
                    </div>
                </div>
                <div class="box-container">
                    <div class="box" data-aos="fade-right">
                        <img src="../static/images/snoringPic.png" alt="">
                        <div class="content">
                            <h3>Snoring</h3>
                            <p>When the soft pallat becomes floppy and vibrates during inhale. Snoring is associated
                                with higher risk for having a stroke.</p>
                            <a href="https://www.aastweb.org/blog/does-snoring-increase-the-risk-of-stroke"
                                target="_blank"><button class="button">learn more</button></a>
                        </div>
                    </div>

                </div>
                <div class="box-container">
                    <div class="box" data-aos="fade-left">
                        <img src="../static/images/circadianPic.png" alt="">
                        <div class="content">
                            <h3>Circadian Rhythm Disorder</h3>
                            <p>When a persons sleep/wake cycles are out of sync with night/day cycles. Examples of
                                circadian rhythm disorders are delayed sleep phase disorder (DSPD), Advanced sleep phase
                                disorder (ASPD),Shift work disorder, jet lag, and non-24-hour sleep wake rhythm
                                disorder. </p>
                            <a href="https://www.aastweb.org/blog/does-snoring-increase-the-risk-of-stroke"
                                target="_blank"><button class="button">learn more</button></a>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-left">
                        <img src="../static/images/hypersomniasPic.png" alt="">
                        <div class="content">
                            <a href="#">
                                <h3>Hypersomnolence</h3>
                            </a>
                            <p>A variety of conditions where a person is excessively tired or sleeps longer hours than
                                the norm. Some examples include Narcolepsy, Kleine-Levin Syndrome and idiopathic
                                hypersomnia. </p>
                            <a href="https://www.sleepfoundation.org/hypersomnia#:~:text=Hypersomnia%20is%20a%20medical%20term,has%20no%20known%20underlying%20cause."
                                target="_blank"><button class="button">learn more</button></a>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-left">
                        <img src="../static/images/insomniaPic.png" alt="">
                        <div class="content">
                            <a href="#">
                                <h3>Insomnia</h3>
                            </a>
                            <p>Inability to fall asleep, stay asleep or waking early and unable to get back to sleep.
                            </p>
                            <a href="https://www.aastweb.org/blog/insomnia-types-diagnosis-and-treatment"
                                target="_blank"><button class="button">learn more</button></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="links" style="color: #354046; background-color:#fff">
        <div class="row" style="color: #354046; background-color:#fff">
            <div class="column" data-aos="fade-right">
                <h3>links</h3>
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#facility">facility</a>
                <a href="#facility">Team Info</a>
                <a href="#location">location</a>
                <a href="#location">Request a call</a>
                <a href="#posts">learn more</a>
                <a href="referrals">referrals</a>
                <a href="url('https://sso.azaleahealth.com/')" rel="noopener noreferrer" target="_blank">patient
                    portal</a>
            </div>
            <div class="column" data-aos="fade-left">
                <h3>forms</h3>
                <a href="https://hushforms.com/sleepdoc-9962" rel="noopener noreferrer" target="_blank">Sleep
                    History Questionnaire</a>
                <a href="https://hushforms.com/sleepdoc-3403" rel="noopener noreferrer" target="_blank">CSA Form</a>
                <a href="https://hushforms.com/sleepdoc-9292" rel="noopener noreferrer" target="_blank">AOB Form</a>
                <a href="https://www.sleepdoc.net/_files/ugd/657de1_66294ef1daa844719ba2bf42f979441a.pdf"
                    rel="noopener noreferrer" target="_blank">Epworth Form</a>
                <a href="https://hushforms.com/formcovid2020" rel="noopener noreferrer" target="_blank">COVID
                    Form</a>
                <a href="https://secure.hushmail.com/mail/?secureform=financial&subject=Sleep%20Medicine%20Consultants%3A%20Financial%20Form#compose"
                    rel="noopener noreferrer" target="_blank">Financial Form</a>
                <a href="http://www.puc.texas.gov/industry/electric/forms/critical/ccform.pdf" rel="noopener noreferrer"
                    target="_blank">TXU CPAP Critical Care</a>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <img src="images/LogoFinal.png" alt="" class="footer logo" />
                <a href="#" class="logoTitle">
                    <span>S</span>leep<span>M</span>edicine<span>C</span>onsultants</a>
                <p>Dedicated to serving the community of the austin texas, making the clincal evaluation, testing and
                    treatment process
                    easier and personalized for each individual.
                </p>
            </div>
        </div>
        <h1 class="credit text-center mx-auto">© 2022 <span>Sleep Medicine Consultants</span> | all rights reserved.
        </h1>
        </div>
    </section>




    <!-- <script src="./js/main.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
        integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        AOS.init({
            duration: 1000,
            delay: 400
        })
    </script>
</body>

</html>