<section id="contact_forms" class="contact">
    <button type="button" class="btn btn-primary btn-group-lg mx-3 h5" data-toggle="modal" data-target="#referral">
        Submit Another Referral
    </button>
    <div class="form-container">
        <div class="modal fade" id="referral" tabindex="-1" role="dialog" aria-labelledby="Send Referral"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: #ccc">
                    <form name="form" action="/refer_patient" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h1 class="modal-title" id="referral-title">Refer a Patient</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="error success form-group">
                                    <label for="referring">Referring Provider Name</label>
                                    <input type="text" class="form-control has-success has-error" name="referring"
                                        required value="{{session['referring']}}">
                                </div>
                                <div class="error success form-group">
                                    <label for="clinic">Referring Clinic Name</label>
                                    <input type="text" class="form-control  has-success has-error" name="clinic" value="{{session['clinic']}}">
                                </div>
                                <div class="error success form-group">
                                    <label for="specialty">Referring Provider's Specialty</label>
                                    <input type="text" class="form-control  has-success has-error" name="specialty" value="{{session['specialty']}}"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="referral_contact">Referring Provider's Contact Information</label>
                                    <input type="text" class="form-control  has-success has-error"
                                        name="referral_contact" value="{{session['referring_contact']}}" required>
                                </div>
                                <div class="error success form-group">
                                    <label for="reason">Reason for referral</label>
                                    <input type="text" class="form-control  has-success has-error" name="reason"
                                        required>
                                </div>
                                <div class="error success form-group">
                                    <label for="fname">Patient First Name</label>
                                    <input type="text" class="form-control  has-success has-error" name="fname"
                                        required>
                                </div>
                                <div class="error success form-group">
                                    <label for="lname">Patient Last Name</label>
                                    <input type="text" class="form-control  has-success has-error" name="lname"
                                        required>
                                </div>
                                <div class="error success form-group">
                                    <label for="phone">Patient Phone Number (ex. 222-22-2222 or 222222222)</label>
                                    <input type="text" class="form-control  has-success has-error" name="phone"
                                        minlength="10" maxlength="12" required>
                                </div>
                                <label for="additional form-group">Additional Information</label>
                                <textarea class="form-control" name="additional"
                                    placeholder="Optional..."></textarea><br>
                                <br>
                                <input type="file" id="file" name="file" multiple> <br>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
